<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/dist/output.css">
  </head>
  <body>
    <div class="container mt-2">
        <div class="bg-green-400 mt-10">
          <img src="<%= loginUrl %>" />
        </div>
        <form action="/auth/qr/login", method="post" id="qr-login">
            <input type="hidden" name="transactionToken" id="transaction-token" />
            <input type="hidden" name="nonce" id="nonce" />
        </form>
    </div>

    <script>
        const nonce = "<%= nonce %>"
        const pollForQRStatus = setInterval( async () => {
            try{
                const response = await fetch(`/auth/qr/status/${nonce}`);
                const data = await response.json();
                if(data.status === "authorized"){
                    const {status, transactionToken} = data;
                    document.getElementById("transaction-token").value = transactionToken;
                    document.getElementById("nonce").value = nonce;
                    document.getElementById("qr-login").submit()
                    clearInterval(pollForQRStatus)
                 }
            }catch(err){
                console.log("Error while polling for QR status:", err)
            }
        }, 4000)
    
    </script>
  </body>
</html>